
# Created by https://www.gitignore.io/api/firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

# End of https://www.gitignore.io/api/firebase
functions/cloud-functions-emulator.log
functions/firebase-debug.log
